.container.session.new
  .row
    .columns.col-md-3
    .columns.col-md-6.well
      = simple_form_for @session do |f|
        .page-header
          %h2
            = t('.title')
        - if f.error_notification
          .alert.alert-error.fade.in
            %a.close{data: {dismiss: "alert"}, href: "#"} &times;
            = f.error_notification
        = f.input :username
        = f.input :password
        = f.input :remember_me
        = f.button :submit, class: 'btn btn-primary'
    .columns.col-md-3
